.header {
  background-image: url(../images/desktop/image-hero.jpg);
  background-size: cover;
  background-position: center;
  grid-column: 1/-1;
  grid-row: 1/2;
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(7, 1fr);

  @media screen and (max-width: 35em) {
    background-image: url(../images/mobile/image-hero.jpg);
    background-size: cover;
    background-position: center;
  }

  &__text {
    color: $white;
    font-family: $font-j;
    text-transform: uppercase;
    grid-column: 2/5;
    grid-row: 3/5;

    @media screen and (max-width: 56em) {
      grid-column: 2/7;
    }

    & h1 {
      border: 2.5px solid $white;
      padding: 3rem;
      font-size: 5rem;

      @media screen and (max-width: 44em) {
        font-size: 3rem;
      }
    }
  }
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  grid-column: 2/7;
  font-family: $font-a;
  padding: 3rem 0;

  &__list {
    list-style: none;
    display: flex;

    @media screen and (max-width: 62.5em) {
      display: none;
      visibility: hidden;
    }
  }

  &__item {
    font-size: 1.5rem;

    &:not(:last-child) {
      margin-right: 3rem;
    }
  }

  &__link,
  &__link:link,
  &__link:visited {
    text-decoration: none;
    color: $white;
  }

  //hamburger
}
